@media(max-width: 1024px) {

    header {
        background: var(--color-white);
        border: 1px solid rgba(0, 0, 0, 0.2);


    }

    header>div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }


    #btns_header {
        width: 358px;
        height: 95px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
        display: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        left: -7px;
        right: 0;
        top: 11%;
        z-index: 1000;


    }

    #btns_header.active {
        display: block;

    }




    #btns_header>button {
        font-size: 18px;
        font-weight: 700;
        width: 149.22px;
        height: 48px;
        border: 1px solid #4200FF;
        background-color: var(--color-white);
        color: #4200FF;
    }

    #btns_header>button:hover {
        background-color: #4200FF;
        color: var(--color-white);
    }

    #btn_mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #image {
        background-image: url("/src/assets/img/imgMobile.png");
        width: 100%;
        height: 612px;
    }

    .modal_wrapper {
        opacity: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 109px;
        left: 0px;
        width: 100%;
        max-width: 700px;
        height: 489px;
        background: rgba(255, 255, 255, 0.95);
        padding: 28px;
    }

    .modal_wrapper>h3 {
        font-weight: 700;
        font-size: 32px;
        color: var(--color-black);
        margin-bottom: 20px;
       margin-right: 40px;
    }


    .modal_wrapper>form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .modal_wrapper>form>label {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 18px;
        color: var(--color-black);
    }
    .modal_wrapper>form>select {
        width: 100%;
        height: 52px;
        background: #FFFFFF;

        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .modal_wrapper>form>input {
        width: 100%;
        height: 52px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px;
    }

    .modal_wrapper>form>button {
        width: 100%;
        height: 48px;
        border: 1px solid #4200FF;
        color: #4200FF;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }

    .modal_wrapper>form>button:hover {
        background-color: #4200FF;
        color: var(--color-white);
    }

    .others {
        width: 230px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .others>p {
        font-weight: 400;
        font-size: 16px;
        color: var(--color-black);
        margin-bottom: 15px;
    }

    .others>button {
        width: 100%;
        max-width: 350px;
        height: 48px;
        border: 1px solid #4200FF;
        color: #4200FF;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }

    .others>button:hover {
        background-color: #4200FF;
        color: var(--color-white);
    }

    #checkbox-menu {
        position: absolute;
        opacity: 0;
    }

    #hamb {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }

    #hamb span {
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 30px;
        background: var(--color-black);
        transition: 0.25s ease-in-out;
    }

    #hamb span:nth-child(1) {
        top: 0;
    }

    #hamb span:nth-child(2) {
        top: 8px;
    }

    #hamb span:nth-child(3) {
        top: 16px;
    }

    #checkbox-menu:checked+#hamb span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
    }

    #checkbox-menu:checked+#hamb span:nth-child(2) {
        opacity: 0;
    }

    #checkbox-menu:checked+#hamb span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
    }
    #btns_header {
        width: 358px;
        height: 95px;
        background-color: var(--color-white);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 12%);
        display: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        left: -7px;
        right: 0;
        top: 9%;
        z-index: 1000;
    }

}



